@font-face {
  font-family: miFont;
  src: url("../../CroissantOne-Regular.ttf") format("truetype");
}

.contenedor {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.btn {
  font-family: miFont;
  font-weight: bold;
  color: #010305 !important;
  font-size: 0.8em;
  text-shadow: 1px 1px 0px #31b097;
  box-shadow: 1px 1px 1px #bee2f9;
  padding: 3px 10px;
  border-radius: 10px;
  border: 2px solid #538ad3;
  background: #63b8ee;
  background: linear-gradient(to top, #63b8ee, #468ccf);
}
.btn:hover {
  color: #14396a !important;
  background: #468ccf;
  background: linear-gradient(to top, #468ccf, #63b8ee);
}

.pagina {
  font-family: mifont;
  font-weight: bold;
}
